.deleteb {
    cursor: pointer;
}

* {
    background-color: rgb(236, 236, 236);
    color: #444;
}

li {
    margin-left: 1em;
    margin-right: 1em;
}

.input {
    border-radius: 1000px;
    background-color: #fff;
    padding-left: 16px;
    padding-right: 16px;
}

input {
    outline: none;
    border: none;
    background-color: #fff;
}

.fa-magnifying-glass {
    background-color: #fff;
}

.zoek {
    background-color: #fff;
}