.input {
    border-radius: 1000px;
    background-color: #fff;
    padding-left: 16px;
    padding-right: 16px;
}

input {
    outline: none;
    border: none;
    background-color: #fff;
}

.fa-magnifying-glass {
    background-color: #fff;
}

.zoek {
    background-color: #fff;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}