<div class="main" style="width: 100%; border-radius: 10px;">
    @if (product.name.length > 24) {
        <h4 style="margin-top: 5px; padding: 5px;">{{ product.name | slice:0:24 }}...</h4>
    } @else {
        <h4 style="margin-top: 5px; padding: 5px;">{{ product.name }}</h4>
    }
    <div style="justify-content: center;">
        <img src="{{ product.url }}" alt="" width="70%" style="margin-left: 15%; margin-right: 15%;">
    </div>
    <hr style="padding-left: 5px; padding-right: 5px;">
    <p style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">{{ product.description }}</p>
</div>